@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

hr{
    padding: 0px;
}

body{
    color: rgb(216, 13, 203);
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #060c21;
    font-family: 'Indie Flower', cursive;

}

.box {
    position: relative;
    width: 80vh;;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
}

.box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}


.box:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box:before, .box:after{
    background: linear-gradient(235deg,#89ff00,#060c21, #00bcd4);    
}



h3{
    text-align: center;
    font-size: 1.5em;
}

p{
    text-align: center;
    font-size: 20px;
    text-shadow: 0.0001em 0.01em 2.0em #ff00bb;
}



h1{
    text-align: center;
    background-color:navy;
    font-size: 50px;
    margin-left: 5vh;
}

.img-perfil img{
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin-left: 5vh;
    max-width:450px;
    max-height:450px;
    width: auto;
    height: auto;
    border-radius: 100%;
    border: 5px solid;
    border-color: transparent;

}

.title1{
    background-color: rgb(0, 183, 255);
    color: black;
}


.img-perfil img:hover {
    border: 5px solid;
    border-color: #ff00bb;

}

.phover:hover{
    color: white;
}